<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ガチャ</title>
</head>
<body>
    <h1>ガチャ結果</h1>
    <p>獲得したカード：<strong><%= rare %></strong></p>
    <p>ランダム値: <%= number %></p>
    
    <br>
    <a href="/rare">もう一度</a>
</body>
</html>
